color-fg = #ecf0f1
bar-width-default = 10px
bar-height-default = 40px

.loader--05
  width (bar-width-default * 6) + 10px
  height bar-height-default
  display flex
  justify-content center
  align-items center

  .bar
    width bar-width-default
    height bar-height-default
    background-color color-fg
    margin-right 3px

    for num in (1..6)
      &:nth-child({num})
        animation loading--05 1s ease-in-out infinite (100ms * num)

@keyframes loading--05
  0%, 25%
    transform scaleY(1)
  50%
    transform scaleY(2)
  75%, 100%
    transform scaleY(1)
