color-bg = #e74c3c
color-fg = #ecf0f1

html, body
  width 100%
  height 100%
  margin 0
  padding 0
  background-color color-bg

#app
  width 100%
  height 100%

#main-container
  width 100%
  height 100%
  padding-right 10%
  padding-left 10%
  box-sizing border-box
